<div class="background-image">
  <div class="section-content">
    <div class="about-container">
      <img class="avatar" src="./assets/img/avatar.jpg" alt="Lucas">
      <h4 class="presentation">
          Olá, me chamo Lucas Tafarel, trabalho como gerente de projetos de tecnologia,
          sou fascinado por inovação tecnológica, além de amar a natureza, os animais,
          enfim, a vida em toda sua forma. Aqui você encontrará meus últimos trabalhos,
          outras informações profissionais e meus contatos.
        </h4>
      <br> {% include socialMedia.html %}
    </div>
  </div>

</div>
