<div class="background-image">
  <div class="section-content">
    <div class="about-container">
      <img class="avatar" src="./assets/img/avatar.jpg" alt="Lucas">
      <h4 class="presentation">
          Olá pessoa, me chamo Lucas Tafarel, desenvolvedor full stack apaixonado
          por tecnologia, pela natureza em todas as suas formas e outras coisas legais,
          aqui você encontrará meus últimos trabalhos, as postagens
          mais recentes no blog e meus contatos.
        </h4>
      <br> {% include socialMedia.html %}
    </div>
  </div>

</div>
