<span class="section-content">
    <div class="header">
      <h1 class="title">BLOG</h1>
      <h2 class="sub-title">POSTS MAIS ATUAIS</h2>
    </div>
    <span class="container-blog">
      <!--  -->
      <div class="index-post-card" onclick="testando('/blog/#teste')">
        <img class="index-post-card-image" src=""/>
        <h3 class="index-post-card-title"> Postagem </h3>
        <p class="index-post-card-description"> Em breve.</p>
      </div>
      <!--  -->
      <div class="index-post-card" onclick="testando('/blog/#teste')">
        <img class="index-post-card-image" src=""/>
        <h3 class="index-post-card-title"> Postagem </h3>
        <p class="index-post-card-description"> Em breve.</p>
      </div>
      <!--  -->
      <div class="index-post-card" onclick="testando('/blog/#teste')">
        <img class="index-post-card-image" src=""/>
        <h3 class="index-post-card-title"> Postagem </h3>
        <p class="index-post-card-description"> Em breve.</p>
      </div>
    </span>
    <a href="blog" class="older-posts">
      <strong>Clique aqui</strong> e dê uma olhada nos posts mais antigos :)
    </a>
</span>
