<div class="background">
  <span class="section-content">
    <div class="header">
      <h1 class="title"> VAMOS CONVERSAR </h1>
    </div>
    <p class="contact-description">
      Posso te ajudar se você estiver precisando de alguma <b>solução tecnológica</b>,
      seja um <b>aplicativo</b>, um <b>sistema personalizado</b>, ou ainda soluções em <b>Internet das Coisas</b>,
      podemos chegar juntos à <b>solução ideal</b> para o seu caso e reunir a <b>melhor equipe para
      este novo projeto</b>. Vamos trocar uma ideia, <b>inovação move o mundo</b>.
    </p>
    <!-- <p class="contact-description">
      Se ficou com alguma <b>dúvida</b> acerca do conteúdo postado ou dejesa <b>sugerir uma
      melhoria</b> não hesite em me contatar. <b>Ficarei feliz em respondê-lo.</b>
    </p> -->
    <h3 class="contact-me"> Você pode me encontrar <b>aqui:</b> </h3>
    {% include socialMedia.html %}
    <!-- <h3 class="contact-me"> Ou me enviar uma mensagem: </h3>
    <form method="POST" action="http://formspree.io/lucastafarelbs@gmail.com">
      <input type="email" name="email" placeholder="Seu email">
      <textarea name="message" placeholder="Digite uma mensagem :)"></textarea>
      <button type="submit">Enviar</button>
    </form> -->
  </span>
</div>
{% include footer.html %}
