<span class="section-content">
    <div class="header">
      <h1 class="title">CONTATO</h1>
      <h2 class="sub-title"> VAMOS TROCAR UMAS IDEIAS :)</h2>
    </div>
    <p class="contact-description">
      Posso te ajudar se você estiver precisando de alguma solução tecnológica,
      seja um aplicativo, um sistema personalizado, ou ainda soluções em Internet das Coisas,
      podemos chegar juntos à solução ideal para o seu caso e reunir a melhor equipe para
      este novo projeto. Vamos trocar uma ideia, inovação move o mundo.
    </p>
    <p class="contact-description">
      Se ficou com alguma dúvida acerca do conteúdo postado ou dejesa sugerir uma
      melhoria não hesite em me contatar. Ficarei feliz em respondê-lo.
    </p>
    <p> Você pode me encontrar aqui: </p>
    {% include socialMedia.html %}
    <p> Ou pode me mandar uma mensagem por aqui mesmo </p>
    <form method="POST" action="http://formspree.io/lucastafarelbs@gmail.com">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
</span>
{% include footer.html %}
