<span class="section-content">
    <div class="header">
      <h1 class="title">PORTFOLIO</h1>
      <h2 class="sub-title">MINHAS EXPERIÊNCIAS :)</h2>
    </div>
      <span class="portfolio-container" id="portfolio-professional" >
        <h3 class="portfolio-title">TRABALHOS MAIS RECENTES</h3>
        <span class="portfolio-container-posts">
          <div class="index-post-card" onclick="window.open('http://www.qargo.com.br','_blank')">
            <img class="index-post-card-image" src="./assets/img/logo-qargo.png" alt="">
            <h3 class="index-post-card-title">Qargo</h3>
            <p class="index-post-card-description">Solução para logística, analista desenvolvedor de aplicativo ANDROID e IOS</p>
          </div>
          <div class="index-post-card" onclick="window.open('http://www.qargo.com.br','_blank')">
            <img class="index-post-card-image" src="./assets/img/logo-qargo.png" alt="">
            <h3 class="index-post-card-title">QARGO</h3>
            <p class="index-post-card-description">Solução para logística, analista desenvolvedor de dashboard administrativo</p>
          </div>
          <div class="index-post-card" onclick="window.open('https://tulipaerp.com.br/','_blank')">
            <img class="index-post-card-image" src="/assets/img/logo-tulipa.png" alt="teste">
            <h3 class="index-post-card-title">NOVALIS TECNOLOGIA</h3>
            <p class="index-post-card-description">Integrante da equipe de desenvolvimento e manutenção do TULIPA ERP</p>
          </div>
        </span>
      </span>
      <span class="portfolio-container invisible" id="portfolio-academics">
        <h3 class="portfolio-title">VIDA ACADÊMICA</h3>
        <span class="portfolio-container-posts">
          <div class="index-post-card">
            <img class="index-post-card-image" src="./assets/img/logo-palestra.png" alt="">
            <h3 class="index-post-card-title">PALESTRAS</h3>
            <p class="index-post-card-description">Palestrei em duas ocasiões sobre TECNOLOGIA LIVRE, comunidade, carreira e JAVASCRPIT <i class="fa fa-heart"></i>.</p>
          </div>
          <div class="index-post-card">
            <img class="index-post-card-image" src="./assets/img/logo-anhanguera.png" alt="">
            <h3 class="index-post-card-title">CIÊNCIA DA COMPUTAÇÃO</h3>
            <p class="index-post-card-description">Faculdade Anhanguera - Limeira, concluído em 2016.</p>
          </div>
          <div class="index-post-card">
            <img class="index-post-card-image" src="./assets/img/logo-cotil.png" alt="">
            <h3 class="index-post-card-title">TÉCNICO EM INFORMÁTICA</h3>
            <p class="index-post-card-description">UNICAMP-COTIL, concluído em 2012.</p>
          </div>
        </span>
      </span>

      <div class="portfolio-buttons">
        <span class="button active" id="btn-professional" onclick="selectType('professional')">
          <i class=" fa fa-handshake-o "></i>
          <p>PROFISSIONAL</p>
        </span>
        <span class="button" id="btn-academics" onclick="selectType('academics')">
          <i class=" fa fa-graduation-cap "></i>
          <p>ACADÊMICO</p>
        </span>
      </div>
</span>

<script>
  const activate = ( toActive ) => {
    activeButton = document.getElementById(`btn-${toActive}`)
    activePortfolioContainer = document.getElementById(`portfolio-${toActive}`)
    if (activeButton && !activeButton.className.includes('active'))
      activeButton.className = `${activeButton.className} active`
    if (activePortfolioContainer && activePortfolioContainer.className.includes('invisible'))
      activePortfolioContainer.className = activePortfolioContainer.className.replace(/invisible/ig, '')
  }
  const inactivate = ( toInactive ) => {
    inactiveButton = document.getElementById(`btn-${toInactive}`)
    inactivePortfolioContainer = document.getElementById(`portfolio-${toInactive}`)
    if (inactiveButton && inactiveButton.className.includes('active'))
      inactiveButton.className = inactiveButton.className.replace(/active/ig, '')
    if (inactivePortfolioContainer && !inactivePortfolioContainer.className.includes('invisible'))
      inactivePortfolioContainer.className = `${inactivePortfolioContainer.className} invisible`
  }

  const selectType = ( type )  => {
    if ( type && type.toLowerCase() === 'professional' ){
      activate( 'professional' )
      inactivate ( 'academics' )
    }
    else if ( type && type.toLowerCase() === 'academics' ){
      activate ( 'academics' )
      inactivate( 'professional' )
    }
  }
</script>
