footer
  width 100%
  text-align center
  font-size $h6FontSize !important
  color rgba($secondary, 0.8)
  background-color rgba($primary, 0.6)
  p
    text-indent 0 !important
    max-width 90%
    font-size $h6FontSize !important
  i
    font-size $h6FontSize !important
    color rgba($primary, 0.7)
  a
    font-size $h6FontSize !important
    text-decoration none
    color rgba($primary, 0.7)
    font-weight bold

+above($tablet)
  footer
    font-size $h4FontSize !important
    p
      font-size $h4FontSize !important
    i
      font-size $h4FontSize !important
    a
      font-size $h4FontSize !important
