.index-post-card
  flexIt(column)
  max-width 90%
  cursor pointer
  margin-top 20px
  .index-post-card-image
    overflow hidden
    min-width 20%
    height 150px
    width 150px
    border-radius 100%
    background-color rgba($primary,0.7)
  .index-post-card-title
    margin-top 5px
    font-size $h4FontSize
    font-weight bolder
    color rgba($primary,0.4)
  .index-post-card-description
    font-weight medium
    max-width 80%
    text-align center
    color rgba($primary,0.3)
    margin-top 5px
    line-height 1.3em
    font-size $h5FontSize

+above($tablet)
  .index-post-card
    min-width 30%
    max-width 30%
    overflow hidden !important
    background-color transparent
    .index-post-card-description
      max-width 90%
