.barra{
  z-index 1000
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba($primary, 0.85);
  a{
    color $secondary;
  }
  min-height: $topbarHeight
}

.logo-container{
  display flex
  justify-content center
  align-items center
  padding-left 10px
  .logotipo {
    max-width 250px
  }
}

.icon{
  display: none;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.menu {
  overflow: hidden;
  display: flex;
}

.menu a {
  cursor: pointer
  flex-direction:row;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
	font-weight: bold;
  line-height: $topbarHeight
}

.menu a:hover {
  background-color: $secondary;
  color: $primary;
}

.menu .icon {
  display: none;
}

.logo-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

+below($tablet) {

  .icon{
    display: block;
  }

  .barra{
    flex-direction: column;
  }

  .menu{
    display: flex;
    flex-direction:column
  }

  .menu a {display: none;}
  .menu a.icon {
    float: right;
  }



  .menu.responsive {
    position: relative;
  }

  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    margin: 0px!important;
    display: block;
    text-align: center;
  }

}
