.barra{
  z-index 1000
  position: fixed;
  width: 100%;
  flexIt(row)
  justify-content: space-around;
  align-items: center;
  a{
    color $secondary;
  }
  min-height: $topbarHeight
  margin-top: 3%
}

.logo-container{
  flexIt(row)
  .logotipo {
    font-size 0px
    img{
      max-width 300px
    }
  }
}

.icon{
  display: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.menu {
  overflow: hidden;
  display: flex;
}

.menu a {
  cursor: pointer
  flex-direction:row;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
	font-weight: bold;
  line-height: $topbarHeight
}

.menu a:hover {
  background-color: rgba($white,0.2);
  color: $white;
}

.menu .icon {
  display: none;
}

+below($tablet) {

  .icon{
    display block
    margin-right 15px
  }

  .barra{
    margin-top 0px;
    flexIt(column, space-between, center)
  }
  .barra.responsive {
    background-color: rgba($black,0.5);
    .logo-container {
      background-color: rgba($black,0.3);
    }
  }

  .logo-container{
    width 100%
    float: none;
    margin-top: 0px;
    padding 10px;
    flexIt(row, space-between, center)
    // min-height $topbarHeight

    .logotipo {
      flexIt(row, center, center)
      margin-left 10px
    }
  }

  .menu{
    flexIt(column)
    width 100%
    background-color: rgba($black,0.1);
  }

  .menu a {display: none;}

  .menu.responsive {
    position: relative;
  }

  .menu.responsive a {
    float: none;
    margin: 0px;
    display: block;
    text-align: center;
    width 100%
  }

}
