.social-media
  flexIt(row, space-between)
  div
    overflow hidden
    border-radius 100%
    width 70px
    height 70px
    text-align center
    flexIt(colum)
    cursor pointer
    background-color rgba($secondary, 0.9)
    margin 5px
    i
      font-size $h1FontSize

.social-media-telegram
  i
    color rgba($telegramColor, 0.8)

.social-media-github
  i
    color rgba($githubColor, 0.8)

.social-media-twitter
  i
    color rgba($twitterColor, 0.8)
