 <header class="barra">
  <span class="logo-container">
      <a href="#"> <img class="logotipo" onclick="myFunction(1)" src="./assets/img/logo.svg" alt="LucasTafarelBS :)" > </a>
      <a href="javascript:void(0);"  class="icon" onclick="myFunction()">&#9776;</a>
    </span>
  <div class="menu" id="myTopnav">
    <a href="#sobre" onclick="myFunction(1)">Sobre</a>
    <a href="#Novidades" onclick="myFunction(1)">Novidades</a>
    <a href="#timeline" onclick="myFunction(1)">Experiência</a>
    <a href="#contato" onclick="myFunction(1)">Contato</a>
    <a href="blog" onclick="myFunction(1)">Blog</a>
  </div>
</header>
