 <header class="barra" id="barra">
  <span class="logo-container" >
      <a href="#" class="logotipo" >
        <img onclick="myFunction()" src="./assets/img/logo.svg" alt="LucasTafarelBS :)" >
      </a>
      <a href="javascript:void(0);"  class="icon" onclick="myFunction()">&#9776;</a>
  </span>
  <div class="menu" id="myTopnav">
    <a href="#about" onclick="myFunction()">Sobre</a>
    <a href="#blog" onclick="myFunction()">Blog</a>
    <a href="#portfolio" onclick="myFunction()">Portfólio</a>
    <a href="#contact" onclick="myFunction()">Contato</a>

  </div>
</header>


<script>
  const modification = ( element, classToCompare, classToAdd) => {
    if (element.className === classToCompare) {
      element.className = `${element.className} ${classToAdd}`;
    }
    else {
      element.className = `${classToCompare}`;
    }
  }

  function myFunction() {
    let myTopNav = document.getElementById('myTopnav')
    let barra = document.getElementById('barra')
    modification(myTopNav, 'menu', 'responsive')
    modification(barra, 'barra', 'responsive')
  }

  window.addEventListener('scroll', function (event) {
      if (event.target.scrollingElement.scrollTop && event.target.scrollingElement.scrollTop >= 200 ) {
          let barra = document.getElementById('barra')
          if (barra && !barra.className.includes('sticky'))
            barra.className = `${barra.className} sticky`
      }
      else {
        let barra = document.getElementById('barra')
        if ( barra && barra.className.includes('sticky') )
          barra.className = barra.className.replace( /sticky/, '' )
      }
  });
</script>
