<span class="social-media">

  <div class="social-media-telegram" onclick="window.open('https://telegram.me/lucastafarelbs', '_blank')">
    <i class="fa fa-telegram" title="telegram: @lucastafarelbs"></i>
  </div>

  <div class="social-media-whatsapp" onclick="window.open('https://api.whatsapp.com/send?phone=5519987050617&text=Olá%20encontrei%20seu%20contato%20no%20site%20.', '_blank')">
    <i class="fa fa-whatsapp" title="whatsapp: +5519987050617"></i>
  </div>

  <div class="social-media-github" onclick="window.open('https://github.com/lucastafarelbs', '_blank')">
    <i class="fa fa-github" title="github: /lucastafarelbs"></i>
  </div>

  <div class="social-media-twitter" onclick="window.open('https://twitter.com/lucastafarelbs', '_blank')">
    <i class="fa fa-twitter" title="twitter: @lucastafarelbs"></i>
  </div>

  <div class="social-media-linkedin" onclick="window.open('https://www.linkedin.com/in/lucastafarelbs/', '_blank')">
    <i class="fa fa-linkedin" title="linkedin: /in/lucastafarelbs"></i>
  </div>

</span>
