#about
  background-color rgba($primary, 0.05)
  .background-image
    -webkit-clip-path polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%)
    clip-path polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%)
    background-image url(../img/background-img.jpg)
    background-position center center
    background-repeat no-repeat
    background-attachment fixed
    background-size cover
  .section-content {
    background-color rgba($primary, 0.6)
    opacity 0.9
    filter contrast(120%)
    margin-top 0px
    height 100vh
  }

.about-container {
  flexIt(column)
  padding-bottom 1rem
}

.avatar {
  margin 0.83rem 0px;
  max-width 150px
  border-radius 100%
  box-shadow 3px 3px 15px 2px rgba($black,0.5)
  filter contrast(90%) brightness(80%)
}

.presentation{
  color $secondary
  text-shadow 1px 1px 1px rgba($black, 0.6)
  font-size $h5FontSize
  font-weight lighter
  max-width 90%
  overflow hidden
  text-align center
}

+above($mobile){
  #about {
    .section-content {
      justify-content flex-end
    }
  }
  .about-container {
    flexIt(column)
    margin-bottom 4rem
  }
  .presentation{
      max-width 80%
  }
}

+above($tablet) {
  .presentation {
    max-width 60%
  }
}

+above($laptop) {
  .about-container {
    flexIt(column)
    margin-bottom 5rem
  }
  .presentation {
    max-width 45%
  }
}
