.barra{
  z-index 1000
  position: fixed;
  width: 100%;
  flexIt(row)
  justify-content: space-between;
  align-items: top;
  a{
    color $secondary;
    font-size $h4FontSize
    text-shadow 1px 1px 1px rgba($primary, 0.3)
  }
  min-height: $topbarHeight
  margin-top: 4%
  transition all .4s
}

.sticky{
  margin-top 0px !important
  background-color rgba($primary, 0.8)
}

.logo-container{
  margin-left 6rem;
  flexIt(row)
  .logotipo {
    font-size 0px
    img{
      max-width 290px
      margin-right 3rem;
    }
  }
}

.icon{
  display: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.menu {
  overflow: hidden;
  display: flex;
  margin-right 6rem;
}

.menu a {
  cursor: pointer
  flex-direction:row;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
	font-weight: bold;
  line-height: $topbarHeight
}

hoverOnLink() {
  a:hover {
    background-color: rgba($secondary,0.8);
    color: $secondary;
  }
}

.menu a:hover {
  hoveron()
}

.menu .icon {
  display: none;
}

+below($tablet) {

  .icon{
    display block
    margin-right 15px
  }

  .barra{
    margin-top 0px;
    flexIt(column, space-between, center)
    background-color: rgba($primary,0.6);
  }

  .logo-container{
    width 100%
    float: none;
    margin-top: 0px;
    margin-left 0px
    padding 10px;
    flexIt(row, space-between, center)

    .logotipo {
      flexIt(row, center, center)
      margin-left 10px
      img{
        max-width 250px
      }
    }
  }

  .menu{
    flexIt(column)
    width 100%
  }

  .menu a {
    display: none;
  }

  .menu.responsive {
    position: relative;
    margin 0px
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: center;
    width 100%;
  }
  .menu.responsive a:nth-child(odd) {
    background-color: rgba($secondary,0.3);
  }
  .menu.responsive a:nth-child(even) {
    background-color: rgba($secondary,0.5);
  }
  .menu.responsive {
    hoverOnLink()
  }
}
