.content-blog
  background-color blue
  margin-top $topbarHeight
  height auto
  display flex
  flex-direction column
  padding 0px 20px

.readable
  background-color green
  margin
  span(1)

.categories
  span(1)
  background-color yellow

.post
  background-color whitesmoke
  width 100%
  display flex
  margin-top 20px

.post-image
  display none

.post-detail
  display flex
  flex-direction column

.post-title
  color gray
  font-size 2.3 rem

.post-data
  margin-top 5px
  font-size 1.5 rem

.post-description
  font-size 2.0 rem

+above(700px)
  .post-detail
    margin-left 2%

  .post-image
    border-radius 5px
    display block
    width 28.5%

+above(1000px)
  .content-blog
    padding 0px 20px 0px 10%

  .content-blog
    flex-direction row-reverse

  .readable
    span(2/3)
    margin-right 10px

  .categories
    span(1/3)
    margin-left 10px
