*{
  margin:0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: monospace;
}

.avatar {
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.5);

}

.presentation{
  padding-top: 20px;
  color: white;
  font-size: 20px;
  max-width: 50%;
}

.bloco{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  width: 100%;
  position: fixed;
  display: flex;
}



#sobre{
  background-image: url(../img/background-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#Novidades{ background-color: #456;}
#timeline{background-color: #567}
#blog{background-color: #678}
#contato{background-color: #789}
