
@font-face {
	font-family: 'Palanquin';
	src: url('../fonts/Palanquin-Bold.eot');
	src: url('../fonts/Palanquin-Bold.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/Palanquin-Bold.woff2') format('woff2'),
		   url('../fonts/Palanquin-Bold.woff') format('woff'),
		   url('../fonts/Palanquin-Bold.ttf') format('truetype'),
		   url('../fonts/Palanquin-Bold.svg#Palanquin-SemiBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Palanquin';
	src: url('../fonts/Palanquin-Light.eot');
	src: url('../fonts/Palanquin-Light.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/Palanquin-Light.woff2') format('woff2'),
		   url('../fonts/Palanquin-Light.woff') format('woff'),
		   url('../fonts/Palanquin-Light.ttf') format('truetype'),
		   url('../fonts/Palanquin-Light.svg#Palanquin-SemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Palanquin';
	src: url('../fonts/Palanquin-Medium.eot');
	src: url('../fonts/Palanquin-Medium.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/Palanquin-Medium.woff2') format('woff2'),
		   url('../fonts/Palanquin-Medium.woff') format('woff'),
		   url('../fonts/Palanquin-Medium.ttf') format('truetype'),
		   url('../fonts/Palanquin-Medium.svg#Palanquin-SemiBold') format('svg');
	font-weight: medium;
	font-style: normal;
}
