$baseLineHeight = 1.4
$baseFontSize = 1.25rem

$vertical-rhythm =  ($baseLineHeight * $baseFontSize)

body {
  line-height $baseLineHeight
}

p {
  font-size $baseFontSize
  margin-bottom $vertical-rhythm
  font-family Palanquin
  overflow hidden
}

h1 {
  font-size 3em
  margin-bottom ($vertical-rhythm * 2)
  font-weight bold
  font-family Palanquin
  overflow hidden
}

h2 {
  font-size 2em
  margin-bottom $vertical-rhythm
  font-weight medium
  font-family Palanquin
  overflow hidden
}

h3 {
  font-size 1.5em
  margin-bottom $vertical-rhythm
  font-weight medium
  font-family Palanquin
  overflow hidden
}

.page-container {
  padding ($vertical-rhythm * 2) 2rem
}
