$fontFamily = 'Palanquin'
$baseLineHeight = 1.4
$baseFontSize = 1.25rem
$vertical-rhythm =  ($baseLineHeight * $baseFontSize)


body
  line-height $baseLineHeight

a
  font-size $baseFontSize
  font-family $fontFamily
  overflow hidden

p
  font-size $baseFontSize
  font-family $fontFamily
  overflow hidden

h1
  font-size 3em
  font-weight bold
  font-family $fontFamily
  overflow hidden

h2
  font-size 2em
  font-weight medium
  font-family $fontFamily
  overflow hidden

h3
  font-size 1.5em
  font-weight medium
  font-family $fontFamily
  overflow hidden

h4
  font-size 1.1em
  font-weight medium
  font-family $fontFamily
  overflow hidden
  color red

h5
  font-size 1em
  font-weight medium
  font-family $fontFamily
  overflow hidden

.page-container
  padding ($vertical-rhythm * 2) 2rem
