$topbarHeight = 50px;

// colors


$black = rgb(0,0,0)
$white = rgb(249, 249, 249)
$backgroundColor = rgb(255, 242, 229)
$primary = rgba($black, 0.7);
$secondary = $white
$title = $primary
$subTitle = $secondary;
$text = rgb(142, 129, 115)
$textAboveDark = $secondary

$twitterColor = #00aced
$githubColor = #333
$telegramColor = #0088cc
$linkedinColor = #0077B5
$gmailColor = #c71610

// BREAKPOINTS
$mobile = 320px
$tablet = 769px
$laptop = 1025px
$desktop = 1440px
