$topbarHeight = 50px;

// colors
$primary = rgb(88, 80, 75)
$secondary = rgb(226, 211, 195)
$backgroundColor = rgb(255, 242, 229)
$black = rgb(0,0,0)
$white = rgb(249, 249, 249)
$title = $primary
$subTitle = $secondary;
$text = rgb(142, 129, 115)
$textAboveDark = $secondary

// BREAKPOINTS
$mobile = 320px
$tablet = 768px
$laptop = 1024px
$desktop = 1440px
