#about{
  background-image url(../img/background-img.jpg);
  background-position center center;
  background-repeat no-repeat;
  background-attachment fixed;
  background-size cover;
  background-color #464646;
}

.avatar {
  margin-top 0.8rem
  width 40%
  max-width 200px;
  border-radius 100%;
  box-shadow 3px 3px 15px 2px rgba(0,0,0,0.5);
}

.presentation{
  color $secondary;
  text-shadow 1px 1px 1px rgba(black, 0.6);
  font-family Palanquin
  font-weight normal
  max-width 100%
  overflow hidden
  margin-top 0.8rem
}

+above($mobile){
  .presentation{
      max-width 80%
  }
}

+above($tablet){
  .presentation{
      max-width 60%
  }
}
