#about{
  background-image url(../img/background-img.jpg)
  background-position center center
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  background-color #464646
  filter contrast(120%)
  opacity 0.8
}

#about {
  .section-content {
    margin-top auto
    margin-bottom 1em
  }
}

.dark{
  background-color red
  opacity 0.2
  min-width 100vw
  min-height 100vh
  flexIt(column)
}

.avatar {
  margin 0.83rem 0px;
  max-width 150px
  border-radius 100%
  box-shadow 3px 3px 15px 2px rgba($black,0.5)
}

.presentation{
  color $secondary
  text-shadow 1px 1px 1px rgba($black, 0.6)
  font-weight lighter
  max-width 90%
  overflow hidden
  text-align center
}

+above($mobile){
  .presentation{
      max-width 80%
  }
}

+above($tablet) {
  #about {
    .section-content {
      margin-bottom 3em
    }
  }
  .presentation {
    max-width 60%
  }
}
