#experience
  background-color lighten($secondary, 30%)
  color $primary

.experience-content
  width 100%


.experience-title
   text-align center

.experience-post
  flexIt()

.brick
  background-color black
  width 100%
  height 15em
  margin 5px

+above($tablet)
  .experience-cont
    padding 5%
    flexIt(column, flex-start,flex-start)

  .brick
    background-color black
    width 15em
    height 15em
