*{
  margin 0px
  padding 0px
  overflow-x hidden
}

#contact{background-color: #789}

section {
  min-width 100vw
  min-height 100vh
  flexIt(column)
}

.section-content {
  width 100%
  flexIt(column)
  margin-top $topbarHeight
}

+above($tablet)
  .section-content
    margin-top 0
