.social-media
  flexIt(row, space-between)
  flex-wrap wrap
  justify-content center
  max-width 70%
  margin-top 20px
  overflow hidden
  div
    overflow hidden
    border-radius 100%
    width 65px
    height 65px
    text-align center
    flexIt(colum)
    cursor pointer
    background-color rgba($primary, 0.4)
    margin 5px
    transition all .5s
    i
      font-size 3rem
      padding 5px
      color rgba($secondary, 0.9)
  div:hover
    background-color rgba($secondary, 1)
  .social-media-telegram:hover
    background-color rgba($telegramColor, 1)
  .social-media-whatsapp:hover
    background-color rgba($whatsappColor, 1)
  .social-media-github:hover
    background-color rgba($githubColor, 1)
  .social-media-twitter:hover
    background-color rgba($twitterColor, 1)
  .social-media-linkedin:hover
    background-color rgba($linkedinColor, 1)


.social-media-telegram, .social-media-linkedin
  i
    font-size 2.7rem !important
