.social-media
  flexIt(row, space-between)
  margin-top 20px
  div
    overflow hidden
    border-radius 100%
    width 65px
    height 65px
    text-align center
    flexIt(colum)
    cursor pointer
    background-color rgba($primary, 0.6)
    margin 5px
    i
      font-size 3rem
      padding 5px
      color rgba($secondary, 0.8)
  div:hover
    background-color rgba($secondary, 1)
  .social-media-telegram:hover
    i
      color rgba($telegramColor, 1)
  .social-media-github:hover
    i
      color rgba($githubColor, 1)
  .social-media-twitter:hover
    i
      color rgba($twitterColor, 1)
  .social-media-linkedin:hover
    i
      color rgba($linkedinColor, 1)


.social-media-telegram, .social-media-linkedin
  i
    font-size 2.7rem !important
