#sobre{
  background-image: url(../img/background-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#Novidades{ background-color: #456;}
#timeline{background-color: #567}
#blog{background-color: #678}
#contato{background-color: #789}

section {
  min-width: 100vw;
  min-height: 100vh;
  padding-top $topbarHeight
}

.section-content {
  margin 0px 10px
  display flex
  flex-direction column
  justify-content center
  position absolute
  align-items center;
}

.avatar {
  margin-top 20px
  line-height 20px
  width 50%
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.5);
}

.presentation{
  color: $secondary;
  font-size: 20px;
  font-family Palanquin
  font-weight light
  line-height 1.35em
  max-width 100%
  overflow hidden
}

+above($mobile){
  .presentation{
      max-width 80%
  }
}

+above($tablet){
  .presentation{
      max-width 60%
  }
}
